.container-product {
    width: 100%;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    // border-radius: 10px;
    border: 1px solid #0795df;
    position: relative;
    margin: 0 auto;
    margin: 0px 0px 20px 0;
    // transform: translateY(-50px);
    margin-bottom: 90px;
    margin-top: 50px;


    .listNow {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;

    }

    .nav-product {



        width: 100%;
        height: 50px;
        // border-bottom: 2px solid black;
        position: relative;
        // background-color: rgb(245, 22, 37);
        display: flex;






        .title-product {
            position: absolute;
            width: 30%;
            height: 60px;
            // background-color: red;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            border-top: 1px solid #0795df;
            ;
            border-right: 1px solid #0795df;
            border-left: 1px solid #0795df;
            ;
            background-color: #0795df;
            display: flex;
            align-items: center;
            justify-content: center;


            .title-productText {
                width: 300px;
                padding-left: 0px;

                font-size: 25px;
                color: white;
                text-align: center;

            }
        }

        .container-itemProduct {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            // padding-top: 20px;
            background-color: #eee;
            align-items: center;





            .item-product {
                font-size: 20px;

                cursor: pointer;
                color: black;
                font-weight: 500;
                // background-color: red;
                transition: all 0.01s linear;

                &:hover {
                    color: #0795df;

                }
            }
        }
    }

    .list-product {
        display: flex;
        justify-content: flex-start;
        // border: 3px solid rgb(4, 90, 71);
        margin: 20px;
        border-radius: 15px;

    }

    .container-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s linear;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &:hover {

            cursor: pointer;


        }

        .item-button {
            // border: 2px solid wheat;

            border-radius: 10px;
            font-size: 17px;
            padding: 10px;
            background-color: #0795df;
            font-weight: 500;
            text-decoration: none;
            color: white;
            transition: all 0.2s linear;

            &:hover {
                cursor: pointer;
            }




        }
    }
}