.containerProductPage {
    width: 1240px;
    min-height: 20px;
    background-color: rgba(238, 238, 238, 0.219);
    margin: 0 auto;
}

.containerProductMain {
    width: 100%;
    margin-top: 80px;

}