.containerFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    // background-color: red;
    border-top: 3px solid black;

    padding-bottom: 70px;


    .footer-img {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: black;

        .footer-imgItem {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }

        .discriptionShop {
            font-size: 20px;
            text-align: center;
            color: #0992f4;
        }
    }

    .containerFooterList {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: blue;

        .footer-wrapper {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-around;
            // background-color: white;

            .footer-column {
                width: 30%;
                // background-color: blue;

                .footer-title {
                    font-size: 20px;
                    margin-left: 40px;


                }

                .footer-list {
                    width: 100%;

                    a {
                        text-decoration: none;
                        width: 100%;
                        margin-left: 0;
                        line-height: 30px;

                    }
                }
            }
        }

        .modifierFooter {
            // background-color: red;
            width: 90%;

            .shopeSystem {
                font-size: 18px;
            }

            .place {
                font-size: 15px;
            }


        }
    }

}