.container_News {


    .banner_News {
        width: 100%;
        height: 500px;
        // background-color: red;


        .imgSw {
            width: 100%;
            height: 500px;
            object-fit: fill;
            border: 1px solid black;
            padding-left: 10px;
        }
    }
}